/* motivation */
#motivation {
  margin-top: 30vh;
}
#motivation h5 {
  margin-bottom: 5vh;
}
.motive {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直置中 */
  vertical-align: middle;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 86, 235, 0.1);
  padding: 20px 20px 20px 20px;
  transition: all 0.3s ease;
}
.sqaure {
  aspect-ratio: auto;
  border-radius: 20px;
  margin-top: 1vh;
}
.inner- .motive {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.motive-row {
  display: flex;
  gap: 10px; /* 卡片間距 */
}
@media (max-width: 768px) {
  .motive-row {
    flex-wrap: wrap;
  }
  .motive-row > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* up-motivation */
#up-motivation {
  margin-top: 30vh;
}
#up-motivation h5 {
  margin-top: 5vh;
}

/* TA */
#TA {
  margin-top: 30vh;
}
#TA-caption {
  margin-bottom: 12vh;
}
.high-light {
  font-size: 20vh;
  font-weight: 800;
}
@media (max-width: 768px) {
  .high-light {
    font-size: 10vh;
    font-weight: 800;
  }
}
#TA ul {
  margin-bottom: 5vh;
}
.analysis {
  display: flex;
  justify-content: center; /* 水平對齊 */
  align-items: center; /* 垂直對齊 */
}
@media (max-width: 768px) {
  .analysis {
    flex-wrap: wrap;
  }
  #number {
    margin-bottom: 5vh;
  }
}

/* research */
#research,
#persona,
#brainstorm,
#test,
#conclusion {
  margin-top: 30vh;
}

#research-caption {
  margin-bottom: 20vh;
}
#research .blue,
#conclusion .blue,
#motivation .blue {
  color: var(--blue);
}
.persona-caption {
  margin: 10vh 0vw 2vh 0vw;
}
.user-row p {
  text-align: left;
  padding-left: 3vw;
}
#painpoint {
  margin-top: 2vh;
}
#HMW {
  margin: 60vh 0vw 40vh 0vw;
}
#HMW p {
  margin-bottom: 3vh;
}

/* cis */
#cis {
  margin-top: 30vh;
}

/* update */
#update h5,
#cis h5 {
  margin-bottom: 0vh;
  margin-right: 1vw;
}
#update a:hover,
#cis a:hover {
  cursor: none;
}
#update a,
#cis a {
  text-decoration: none;
  color: var(--black);
  display: flex;
}
#update .arrow img,
#cis .arrow img {
  vertical-align: middle;
  width: 20px;
}

/* test */
.test1 p {
  margin-bottom: 10vh;
}
.sus {
  margin: 20vh 0vw;
}

.metro-ui {
  border-radius: 56px;
}

.justify {
  margin-top: 5vh;
}

.margin-top-30 {
  margin-top: 30vh;
}

/* brainstorm */
.brainstorm-row {
  margin-left: 12.5%;
}

@media (max-width: 768px) {
  .brainstorm-row {
    margin-left: 0%;
  }
  #re,
  #user {
    margin-bottom: 5vh;
  }
}
