body {
  background-color: #1e1e1e;
  color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: "Marcellus", serif;
}

.scroll-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  width: 0; /* For Chrome, Safari, and Opera */
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}
/*背景*/
.bg {
  height: auto;
  position: fixed;
}

/*文字設定*/
.text h1 {
  font-size: 3.4vw;
  line-height: 15vh;
}
.text h2 {
  font-size: 2.6vw;
  line-height: normal;
}
.text h3 {
  font-size: 1.8vw;
  line-height: normal;
}
.text h4 {
  font-size: 1.4vw;
  line-height: normal;
}
.text h5 {
  font-size: 1.2vw;
  line-height: normal;
}
.text p {
  font-size: 1vw;
  line-height: normal;
}

/* header */
.header {
  z-index: 2;
  margin: 4vh 5vw;
  display: inline-block;
  position: fixed;
  mix-blend-mode: difference;
}
.header-left {
  width: 7vw;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.header a {
  text-decoration: none;
  color: #dbdbdb;
}
.header-left button {
  border-radius: 50px;
  border-style: none;
  background-color: #585858;
  color: #dbdbdb;
  padding: 1vh 1.5vw;
  /* h4 */
  font-size: 1.4vw;
  line-height: normal;
  font-family: "Marcellus", serif;
}
.header-left button:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
  mix-blend-mode: none;
}
.header-left button:hover a {
  color: #000000;
}
.header-center {
  width: 47vw;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}
.about,
.works {
  margin: 0vh 1.5vw;
  border-radius: 50px;
  border: none;
  background-color: #1e1e1e00;
  color: #dbdbdb;
  padding: 1vh 1.5vw;
  /* h4 */
  font-size: 1.4vw;
  line-height: normal;
  font-family: "Marcellus", serif;
}
.about:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
}
.about:hover a {
  color: #000000;
}
.works:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
}
.works:hover a {
  color: #000000;
}

.header-right {
  width: 35vw;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}
.header-right button {
  border-radius: 50px;
  border-style: none;
  background-color: #585858;
  color: #dbdbdb;
  padding: 1vh 1.5vw;
  /* h4 */
  font-size: 1.4vw;
  line-height: normal;
  font-family: "Marcellus", serif;
}
.header-right button:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
  mix-blend-mode: none;
}
.header-right button:hover a {
  color: #000000;
}

/*內容開始*/

/*first section*/
.first-section {
  height: 85vh;
  vertical-align: bottom;
  display: inline-block;
  margin: 22vh 5vw 0vh;
  mix-blend-mode: difference;
}
.flower {
  width: 36vw;
  display: inline-block;
}
.flower h1 {
  line-height: normal;
  margin-bottom: 5vh;
}
.banner {
  vertical-align: bottom;
  padding-left: 2vw;
  display: inline-block;
}
.banner img {
  vertical-align: bottom;
  width: 50vw;
  border-radius: 2vw;
}
/*second section*/
.second-section {
  vertical-align: bottom;
  display: inline-block;
  margin: 20vh 5vw 0vh;
  mix-blend-mode: difference;
}
.second-section h5 {
  margin-bottom: 14vh;
  width: 53.5vw;
}
.color {
  margin-left: 27vw;
  width: 63vw;
  display: inline-block;
}
.color h5 {
  position: absolute;
  vertical-align: bottom;
  text-align: center;
  margin-left: -4vw;
  width: 15vw;
  padding-top: 9vw;
}
#white,
#pink,
#green,
#gray {
  position: relative;
  width: 7vw;
  height: 7vw;
  margin: 0vh 0.5vw;
  border-radius: 1vw;
  display: inline-block;
}
#white {
  background-color: #f5e8c8;
}
#pink {
  background-color: #de7679;
}
#green {
  background-color: #b1d5c8;
}
#gray {
  background-color: #595757;
}
#color-pluse {
  display: inline-block;
  vertical-align: middle;
  height: 10vw;
  padding: 0vh 4vw;
}
.explain {
  position: relative;
  display: inline-block;
}
/*third section*/
.third-section {
  display: inline-block;
  margin: 30vh 5vw 0vh;
  mix-blend-mode: difference;
}
.third-section img {
  width: 90vw;
}
.petal img {
  vertical-align: top;
  width: 5vw;
}
.melody img {
  vertical-align: top;
  width: 5.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.ink img {
  vertical-align: top;
  width: 5vw;
}
.third-section h5 {
  text-align: center;
  width: auto;
}
#petal-explain {
  margin-top: 2vh;
  vertical-align: bottom;
  margin-left: -0.6vw;
}
#melody-explain {
  margin-top: 2vh;
  vertical-align: bottom;
  margin-left: -0.3vw;
  width: 7.8vw;
  display: inline-block;
}
#ink-explain {
  margin-top: 2vh;
  vertical-align: bottom;
  margin-left: -1vw;
}
.detail {
  margin-bottom: 4vh;
  width: 89vw;
  text-align: center;
}
.petal,
.melody,
.ink {
  vertical-align: bottom;
  text-align: center;
  width: 12vw;
  display: inline-block;
}
.logo p {
  font-size: 4vw;
}
.pluse {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 5vh 1.5vw 0vh 1.5vw;
}
/*forth section*/
.forth-section {
  vertical-align: bottom;
  display: inline-block;
  margin: 25vh 5vw 0vh;
  mix-blend-mode: difference;
}
.forth-section h3 {
  margin-bottom: 2vh;
}
.forth-section h5 {
  width: 53.5vw;
  margin-bottom: 4vh;
}
.human-filter {
  width: 89vw;
  height: 80vh;
  overflow: hidden;
  border-radius: 2vw;
  display: inline-block;
  position: relative;
  background-color: #ffffff;
}
.human-filter img {
  position: absolute;
  display: inline-block;
}
#lattern {
  width: 21vw;
  margin-top: 3vh;
  z-index: 3;
}
#piano {
  width: 27vw;
  margin-top: -5vh;
  margin-left: 19.5vw;
  z-index: 2;
}
#fan {
  width: 24vw;
  margin-top: -4vh;
  margin-left: 66vw;
  z-index: 1;
}
#violin {
  width: 25vw;
  margin-top: -5vh;
  margin-left: 44vw;
}
.animal-filter {
  margin-top: 4vh;
  width: 89vw;
  height: 55vh;
  overflow: hidden;
  border-radius: 2vw;
  display: inline-block;
  position: relative;
  background-color: #ffffff;
}
.animal-filter img {
  position: absolute;
  display: inline-block;
}
#stand {
  margin-top: -29vh;
  margin-left: -3vw;
  width: 33vw;
  z-index: 1;
}
#sleep {
  margin-top: -9vh;
  margin-left: 29.5vw;
  width: 27vw;
  z-index: 1;
}
#fly {
  margin-top: -40vh;
  margin-left: 50vw;
  width: 43vw;
}
/*fifth section*/
.fifth-section {
  vertical-align: bottom;
  display: inline-block;
  margin: 25vh 5vw 0vh 5vw;
  mix-blend-mode: difference;
}
.fifth-section h5 {
  margin-bottom: 2vh;
}
.card {
  display: inline-block;
}
.card1,
.card2 {
  width: 35vw;
}
.card1 img {
  width: 35vw;
}
.card2 img {
  width: 35vw;
}
.envelope {
  margin-left: 1.25vw;
  width: 53vw;
  display: inline-block;
}
.envelope img {
  width: 53.75vw;
}
.first {
  width: 90vw;
  display: inline-block;
}
.fifth-section P {
  margin: -5vh 0vw 5vh 3vw;
  color: #848484;
}
#photo-7 {
  width: 90vw;
}
/*sixth section*/
.sixth-section {
  vertical-align: bottom;
  display: inline-block;
  margin: 25vh 4vw 0vh 5vw;
  mix-blend-mode: difference;
}
.sixth-section P {
  margin: -5vh 0vw 5vh 3vw;
  color: #848484;
}
.second {
  width: 52.75vw;
  margin-right: 0.75vw;
  display: inline-block;
}
.box img {
  width: 52.75vw;
}
.tea img {
  width: 52.75vw;
}
.bag {
  width: 35.5vw;
  display: inline-block;
}
.bag img {
  width: 35vw;
}
/*seven section*/
.seven-section {
  vertical-align: bottom;
  display: inline-block;
  margin: 25vh 4vw 0vh 5vw;
  mix-blend-mode: difference;
}
.seven-section P {
  margin: -5vh 0vw 5vh 3vw;
  color: #848484;
}
.safe {
  width: 16.9vw;
  display: inline-block;
  margin-right: 1.25vw;
}
.safe img {
  width: 16.9vw;
}
.calendar {
  width: 71.5vw;
  display: inline-block;
}
.calendar img {
  width: 71.5vw;
}
/*eight section*/
.eight-section {
  vertical-align: bottom;
  display: inline-block;
  margin: 25vh 5vw 0vh 5vw;
  mix-blend-mode: difference;
}
.eight-section img {
  width: 89.5vw;
}
.eight-section P {
  margin: -5vh 0vw 5vh 3vw;
  color: #848484;
}
/*next*/
.next {
  vertical-align: bottom;
  display: inline-block;
  margin: 5vh 5vw 3vh 85vw;
  display: inline-block;
}
.next-arrow {
  text-align: right;
  vertical-align: middle;
  display: inline-block;
  width: 2vw;
  font-size: 2vw;
}
.next a {
  color: #ffffffd8;
  vertical-align: middle;
  font-size: 1.4vw;
  text-decoration: none;
}
.next:hover .underline {
  background-color: #607c92;
}
/*footer*/
.footer {
  display: inline-block;
  width: 90vw;
  padding: 15vh 5vw 5vh;
  color: #ffffffd8;
}
.footer h4 {
  vertical-align: top;
  display: inline-block;
  width: 17vw;
  font-size: 1.4vw;
}
.connect-detail {
  vertical-align: top;
  display: inline-block;
  width: 35.25vw;
  margin-left: 1.25vw;
}
.sitemap-detail {
  vertical-align: top;
  display: inline-block;
  width: 10.5vw;
  margin-left: 1.25vw;
}
.footer a {
  font-size: 1.25vw;
}
.footer p {
  font-size: 1.1vw;
}
.mail,
.phone,
.line {
  margin: 0vh 0vw 4.5vh 0vw;
}
.mail span {
  text-align: center;
  font-size: 1.8vw;
  vertical-align: middle;
}
.mail p {
  margin-left: 0.5vw;
  display: inline-block;
  vertical-align: middle;
}
.phone span {
  text-align: center;
  font-size: 1.8vw;
  vertical-align: middle;
}
.phone p {
  margin-left: 0.5vw;
  display: inline-block;
  vertical-align: middle;
}
.line img {
  text-align: center;
  margin-left: 0.1vw;
  width: 1.6vw;
  vertical-align: middle;
}
.line p {
  margin-left: 0.6vw;
  display: inline-block;
  vertical-align: middle;
}
.footer p {
  display: inline-block;
  width: 30vw;
}
.footer a {
  width: 5vw;
  display: inline-block;
  color: #ffffffd8;
  text-decoration: none;
}
.footer-arrow {
  display: inline-block;
  width: 5vw;
  vertical-align: middle;
  text-align: right;
}
.footer-home,
.footer-about,
.footer-works,
.footer-connect {
  margin: 0vh 0vw 2vh 0vw;
}
.footer-home:hover .underline {
  background-color: #607c92;
}
.footer-about:hover .underline {
  background-color: #607c92;
}
.footer-works:hover .underline {
  background-color: #607c92;
}
.footer-connect:hover .underline {
  background-color: #607c92;
}
