body {
  background-image: url(../img/bg/ticket.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: "Marcellus", serif;
}

.scroll-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  width: 0; /* For Chrome, Safari, and Opera */
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

/*文字設定*/
.text h1 {
  font-size: 3.4vw;
  line-height: 15vh;
}
.text h4 {
  font-size: 1.4vw;
  line-height: normal;
}
.text h5 {
  font-size: 1.2vw;
  line-height: normal;
}
.text p {
  font-size: 1vw;
  line-height: normal;
}
/* header */
.header {
  z-index: 2;
  margin: 4vh 5vw;
  display: inline-block;
  position: fixed;
  mix-blend-mode: difference;
}
.header-left {
  width: 7vw;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.header a {
  text-decoration: none;
  color: #dbdbdb;
}
.header-left button {
  border-radius: 50px;
  border-style: none;
  background-color: #585858;
  color: #dbdbdb;
  padding: 1vh 1.5vw;
  /* h4 */
  font-size: 1.4vw;
  line-height: normal;
  font-family: "Marcellus", serif;
}
.header-left button:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
  mix-blend-mode: none;
}
.header-left button:hover a {
  color: #000000;
}
.header-center {
  width: 47vw;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}
.about,
.works {
  margin: 0vh 1.5vw;
  border-radius: 50px;
  border: none;
  background-color: #1e1e1e00;
  color: #dbdbdb;
  padding: 1vh 1.5vw;
  /* h4 */
  font-size: 1.4vw;
  line-height: normal;
  font-family: "Marcellus", serif;
}
.about:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
}
.about:hover a {
  color: #000000;
}
.works:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
}
.works:hover a {
  color: #000000;
}

.header-right {
  width: 35vw;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}
.header-right button {
  border-radius: 50px;
  border-style: none;
  background-color: #585858;
  color: #dbdbdb;
  padding: 1vh 1.5vw;
  /* h4 */
  font-size: 1.4vw;
  line-height: normal;
  font-family: "Marcellus", serif;
}
.header-right button:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
  mix-blend-mode: none;
}
.header-right button:hover a {
  color: #000000;
}

/*內容開始*/

/*first section*/
.first-section {
  height: 85vh;
  vertical-align: bottom;
  display: inline-block;
  margin: 17vh 4vw 0vh 5vw;
}
.ticket {
  width: 36vw;
  display: inline-block;
}
.ticket h1 {
  line-height: normal;
  margin-bottom: 5vh;
}
.banner {
  vertical-align: bottom;
  padding-left: 2vw;
  display: inline-block;
}
.banner img {
  vertical-align: bottom;
  width: 51vw;
}
/*second section*/
.second-section {
  vertical-align: bottom;
  display: inline-block;
  margin: 20vh 4vw 0vh 5vw;
  mix-blend-mode: none;
}
.second-section h5 {
  margin-bottom: 5vh;
  width: 53.5vw;
}
.second-section img {
  width: 44.5vw;
}
/*previous*/
.previous {
  vertical-align: bottom;
  display: inline-block;
  margin: 5vh 34vw 3vh 5vw;
  display: inline-block;
}
.previous-arrow {
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  font-size: 2vw;
  width: 2vw;
}
.previous a {
  vertical-align: middle;
  color: #ffffffd8;
  font-size: 1.4vw;
  text-decoration: none;
}
.previous:hover .underline {
  background-color: #607c92;
}
/*next*/
.next {
  vertical-align: bottom;
  display: inline-block;
  margin: 5vh 5vw 3vh 35vw;
  display: inline-block;
}
.next-arrow {
  text-align: right;
  vertical-align: middle;
  display: inline-block;
  width: 2vw;
  font-size: 2vw;
}
.next a {
  color: #ffffffd8;
  vertical-align: middle;
  font-size: 1.4vw;
  text-decoration: none;
}
.next:hover .underline {
  background-color: #607c92;
}
/*footer*/
.footer {
  display: inline-block;
  width: 90vw;
  padding: 15vh 5vw 5vh;
  color: #ffffffd8;
}
.footer h4 {
  vertical-align: top;
  display: inline-block;
  width: 17vw;
  font-size: 1.4vw;
}
.connect-detail {
  vertical-align: top;
  display: inline-block;
  width: 35.25vw;
  margin-left: 1.25vw;
}
.sitemap-detail {
  vertical-align: top;
  display: inline-block;
  width: 10.5vw;
  margin-left: 1.25vw;
}
.footer a {
  font-size: 1.25vw;
}
.footer p {
  font-size: 1.1vw;
}
.mail,
.phone,
.line {
  margin: 0vh 0vw 4.5vh 0vw;
}
.mail span {
  text-align: center;
  font-size: 1.8vw;
  vertical-align: middle;
}
.mail p {
  margin-left: 0.5vw;
  display: inline-block;
  vertical-align: middle;
}
.phone span {
  text-align: center;
  font-size: 1.8vw;
  vertical-align: middle;
}
.phone p {
  margin-left: 0.5vw;
  display: inline-block;
  vertical-align: middle;
}
.line img {
  text-align: center;
  margin-left: 0.1vw;
  width: 1.6vw;
  vertical-align: middle;
}
.line p {
  margin-left: 0.6vw;
  display: inline-block;
  vertical-align: middle;
}
.footer p {
  display: inline-block;
  width: 30vw;
}
.footer a {
  width: 5vw;
  display: inline-block;
  color: #ffffffd8;
  text-decoration: none;
}
.footer-arrow {
  display: inline-block;
  width: 5vw;
  vertical-align: middle;
  text-align: right;
}
.footer-home,
.footer-about,
.footer-works,
.footer-connect {
  margin: 0vh 0vw 2vh 0vw;
}
.footer-home:hover .underline {
  background-color: #607c92;
}
.footer-about:hover .underline {
  background-color: #607c92;
}
.footer-works:hover .underline {
  background-color: #607c92;
}
.footer-connect:hover .underline {
  background-color: #607c92;
}
