body {
  background-image: url(../img/bg/works.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: "Marcellus", serif;
}

.scroll-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  width: 0; /* For Chrome, Safari, and Opera */
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

/*文字設定*/
.text h1 {
  font-size: 3.4vw;
  line-height: 15vh;
}
.text h2 {
  font-size: 2.6vw;
  line-height: normal;
}
.text h3 {
  font-size: 1.8vw;
  line-height: normal;
}
.text h4 {
  font-size: 1.4vw;
  line-height: normal;
}
.text h5 {
  font-size: 1.2vw;
  line-height: normal;
}
.text p {
  font-size: 1vw;
  line-height: normal;
}
/*hamburgur*/
.hambugur {
  position: fixed;
  z-index: 2;
}
.hambugur a {
  text-decoration: none;
  color: #ffffff;
}
.clickable-bar {
  position: absolute;
  margin: 90vh 0vw 0vh 91.3vw;
  cursor: pointer;
  z-index: 2;
}
.frame {
  position: absolute;
  margin: 90vh 0vw 0vh 91.3vw;
  width: 3vw;
  height: 5vh;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #607c92;
  background-color: #1e1e1e;
  border-radius: 0.5vw;
}
.frame.active {
  position: absolute;
  margin: 60vh 0vw 0vh 81.3vw;
  width: 13vw;
  height: 35vh;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.bars {
  margin: 0.6vw;
  width: 2vw;
  height: 2.5vh;
}
.clickable-bar:hover .bar-1,
.clickable-bar:hover .bar-2,
.clickable-bar:hover .bar-3 {
  background: #ffffff;
}
.bar-1,
.bar-2,
.bar-3 {
  margin-top: 0.7vh;
  display: block;
  width: 2vw;
  height: 0.1vw;
  border-radius: 50px;
  background: #607c92;
}

.bar-1 {
  margin-top: 1.8vh;
}
.bar-1,
.bar-3 {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.menu-item {
  position: absolute;
  z-index: 1;
  margin: 90vh 0vw 0vh 91.3vw;
  width: 3vw;
  height: 5vh;
  scale: 0;
  opacity: 0;
}
.menu-item.active {
  margin: 60vh 0vw 0vh 81.3vw;
  width: 13vw;
  height: 35vh;
  scale: 1;
  opacity: 1;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.item-list {
  padding: 2vh 1vw 2vh 1.5vw;
  width: 10.5vw;
  height: 24vh;
  position: absolute;
}
.path:hover .underline {
  background-color: #607c92;
}
.hamworks:hover .underline {
  background-color: rgba(0, 0, 0, 0.1);
}
.underline {
  display: block;
  margin-top: 0.5vh;
  margin-left: -1.5%;
  width: 105%;
  height: 0.05vw;
  background-color: rgba(0, 0, 0, 0.1);
}
.item-list li {
  display: inline-block;
  width: 10.5vw;
  height: 6.5vh;
  list-style: none;
}
.item-list a {
  display: inline-block;
  width: 5vw;
  list-style: none;
}
.item-list h4 {
  display: inline-block;
}
.hambugur_arrow {
  text-align: right;
  vertical-align: middle;
  width: 4.8vw;
  display: inline-block;
}
/* header */
.header {
  z-index: 2;
  margin: 4vh 5vw;
  display: inline-block;
  position: fixed;
  mix-blend-mode: difference;
}
.header a {
  color: #dbdbdb;
  text-decoration: none;
}
.header-left {
  width: 7vw;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.header-left button {
  border-radius: 50px;
  border-style: none;
  background-color: #585858;
  color: #dbdbdb;
  padding: 1vh 1.5vw;
  /* h4 */
  font-size: 1.4vw;
  line-height: normal;
  font-family: "Marcellus", serif;
}
.header-left button:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
  mix-blend-mode: none;
}
.header-left button:hover a {
  color: #000000;
}
.header-center {
  width: 47vw;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}
.works {
  margin: 0vh 1.5vw;
  border-radius: 50px;
  background-color: #1e1e1e00;
  color: #dbdbdb;
  border-style: solid;
  border-width: 0.1vh;
  border-color: #dbdbdb;
  padding: 1vh 1.5vw;
  /* h4 */
  font-size: 1.4vw;
  line-height: normal;
  font-family: "Marcellus", serif;
}
.about {
  margin: 0vh 1.5vw;
  border-radius: 50px;
  border: none;
  background-color: #1e1e1e00;
  color: #dbdbdb;
  padding: 1vh 1.5vw;
  /* h4 */
  font-size: 1.4vw;
  line-height: normal;
  font-family: "Marcellus", serif;
}
.about:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
}

.about:hover a {
  color: #000000;
}

.header-right {
  width: 35vw;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}
.header-right button {
  border-radius: 50px;
  border-style: none;
  background-color: #585858;
  color: #dbdbdb;
  padding: 1vh 1.5vw;
  /* h4 */
  font-size: 1.4vw;
  line-height: normal;
  font-family: "Marcellus", serif;
}
.header-right button:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
  mix-blend-mode: none;
}
.header-right button:hover a {
  color: #000000;
}

/*內容開始*/
.project-title {
  vertical-align: top;
  width: 17vw;
  display: inline-block;
}
.content {
  margin: 20vh 5vw 0vh 5vw;
  height: 230vh;
  mix-blend-mode: normal;
}
.content a {
  text-decoration: none;
  color: #000000;
}

.graphic-title {
  vertical-align: top;
  width: 16vw;
  margin-left: 0.8vw;
  text-align: right;
  display: inline-block;
}
.project {
  position: relative;
  vertical-align: top;
  display: inline-block;
  margin-left: 1vw;
  width: 35.25vw;
}
.detail {
  margin: -5vh 0vw 2vh;
}
.project img {
  width: 35.25vw;
  margin: 1vh 0vw;
  border-radius: 2vw;
}
.project span {
  width: 5vw;
  display: inline-block;
  font-size: 2vw;
  vertical-align: middle;
  text-align: right;
  margin-top: -0.5vh;
  opacity: 0;
}
.flower:hover .arrow1 {
  opacity: 1;
}
.bubble:hover .arrow2 {
  opacity: 1;
}
.downgo:hover .arrow3 {
  opacity: 1;
}
.longchen:hover .arrow4 {
  opacity: 1;
}
.milk:hover .arrow5 {
  opacity: 1;
}
.ticket:hover .arrow6 {
  opacity: 1;
}
.wavefont:hover .arrow7 {
  opacity: 1;
}
.photograph:hover .arrow8 {
  opacity: 1;
}
.arrow1,
.arrow2,
.arrow3,
.arrow4,
.arrow5,
.arrow6,
.arrow7,
.arrow8 {
  transition: opacity 0.3s ease;
}

.project p {
  width: 24vw;
  margin-left: 3vw;
  display: inline-block;
  opacity: 0;
}
.project img:hover {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.15vw;
  border-radius: 2vw;
}
.graphic {
  width: 17vw;
  margin-left: 1.25vw;
  display: inline-block;
}
.graphic img {
  width: 17vw;
  margin: 1vh 0vw;
}
.graphic p {
  width: 11vw;
  margin-left: 2vw;
  display: inline-block;
  opacity: 0;
}
.graphic span {
  width: 1vw;
  margin-right: 2vw;
  display: inline-block;
  font-size: 2vw;
  vertical-align: middle;
  text-align: right;
  opacity: 0;
}
.ticket p {
  margin-top: -2vh;
  margin-bottom: 1vh;
}
.ticket span {
  margin-top: -3vh;
}
.graphic img:hover {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.15vw;
  border-radius: 2vw;
}

/*footer*/
.footer {
  display: inline-block;
  width: 90vw;
  padding: 15vh 5vw 5vh;
  color: #ffffffd8;
}
.footer h4 {
  vertical-align: top;
  display: inline-block;
  width: 17vw;
  font-size: 1.4vw;
}
.connect-detail {
  vertical-align: top;
  display: inline-block;
  width: 35.25vw;
  margin-left: 1.25vw;
}
.sitemap-detail {
  vertical-align: top;
  display: inline-block;
  width: 10.5vw;
  margin-left: 1.25vw;
}
.footer a {
  font-size: 1.25vw;
  display: inline-block;
  color: #ffffffd8;
  text-decoration: none;
}
.footer p {
  font-size: 1.1vw;
}
.mail,
.phone,
.line {
  margin: 0vh 0vw 4.5vh 0vw;
}
.mail span {
  text-align: center;
  font-size: 1.8vw;
  vertical-align: middle;
}
.mail p {
  margin-left: 0.5vw;
  display: inline-block;
  vertical-align: middle;
}
.phone span {
  text-align: center;
  font-size: 1.8vw;
  vertical-align: middle;
}
.phone p {
  margin-left: 0.5vw;
  display: inline-block;
  vertical-align: middle;
}
.line img {
  text-align: center;
  margin-left: 0.1vw;
  width: 1.6vw;
  vertical-align: middle;
}
.line p {
  margin-left: 0.6vw;
  display: inline-block;
  vertical-align: middle;
}
.footer p {
  display: inline-block;
  width: 30vw;
}
.footer a {
  width: 5vw;
  display: inline-block;
}
.footer-arrow {
  display: inline-block;
  width: 5vw;
  vertical-align: middle;
  text-align: right;
}
.footer-home,
.footer-about,
.footer-works,
.footer-connect {
  margin: 0vh 0vw 2vh 0vw;
}
.footer-home:hover .underline {
  background-color: #607c92;
}
.footer-about:hover .underline {
  background-color: #607c92;
}
.footer-connect:hover .underline {
  background-color: #607c92;
}
